.hero{
  height:90vh;
  display:flex;
  align-items:center;
  background:linear-gradient(to right,#ffdce6,#fff);
}

.hero-content h2{
  font-size:60px;
  color:#c95c86;
}

.hero-content p{
  margin:20px 0;
  max-width:500px;
  line-height:1.6;
}

.hero-buttons{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.hero-button{
  display:inline-block;
  padding:15px 30px;
  border:none;
  background:#d4af37;
  color:white;
  border-radius:10px;
  cursor:pointer;
  font-size:16px;
  text-decoration:none;
  transition:background 0.3s;
}

.hero-button:hover{
  background:#c99a2e;
}

.hero-button-secondary{
  background:#c95c86;
  border:2px solid #c95c86;
}

.hero-button-secondary:hover{
  background:#a84770;
  border-color:#a84770;
}