.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  text-decoration: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
